.imgBorder{
  border-radius: 5px;
  margin: 15px 0;
}
.hrWidth{
  margin: 20px 0;
}
.body{
  animation: zoomRotate 1s;
   background: '#ECECEC';
   padding: 30px;
   line-height:20px;
}
.cardStyle{
  width: 100%;
  font-size: 14px;

}
@keyframes zoomRotate {
  0%{
    transform: scale3d(0,0,0) rotateZ(0);
  }
  50%{

  }
  100%{
    transform: scale3d(1,1,1) rotateZ(0);
  }
}
